---
import Layout from "../layouts/Layout.astro";
import Inicio from "../components/index/Inicio.astro"
import Works from "../components/index/Works.astro"
import Testimonios from "../components/index/Testimonios.astro";
import Contact from "../components/index/Contact.astro";
---

<Layout title="Noelia Torres">
	<main id="index">
		<Inicio/>
		<Works/>
		<Contact/>
		<!-- <Testimonios/> -->
		
	</main>
</Layout>

<style>
	
	#index {
		max-width: calc(1500px + 2rem);
		margin: 0 auto;
		padding: 0 2rem;
	}
	
</style>
