---
---

<div id="contact">
    <h2>/ CONTACT</h2>
    <div class="contactText">
        <!-- <p>
            No dudes en contactarme para discutir nuevas oportunidades de colaboración, proyectos interesantes o simplemente para intercambiar ideas sobre manejo de redes sociales y gestion de contenidos. Siempre estoy abierta a nuevas conexiones y discusiones constructivas. Puedes comunicarte conmigo a través de la información a continuación. ¡Estoy ansioso por conocerte! :)
        </p> -->
        <div class="contactLinks">
            <a href="https://www.linkedin.com/in/noeliatorrescontact/" target="_blank" rel="noreferrer">LINKEDIN</a>
            <a href="https://www.instagram.com/noetorresdecristal" target="_blank" rel="noreferrer">INSTAGRAM</a>
            <a href="https://wa.me/+5493517657726" target="_blank" rel="noreferrer">WHATSAPP</a>
        </div>
    </div>
</div>


<style>
    #contact {
        & h2 {
            width: 100%;
            font-size: 2rem;          
            text-align: left;
            align-self: flex-start;
            margin: 5rem auto 2rem;  
        }
        & p {
            width: 60%;
            font-size: 1rem;
            /* text-transform: uppercase; */
            font-weight: 300;
            line-height: 1.6rem;
            font-size: 0.9rem;

            @media screen and (max-width: 576px) {
                width: 80%;
                line-height: 1.2rem;
            }
        }

        & .contactLinks {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;

            & a {
                font-size:1.5rem;
                /* font-family: "ogg", sans-serif; */
                transition: all ease-in-out 0.5s;

                &:hover {
                    letter-spacing: 1rem;
                }
            }
        }
    }
</style>