---

---

<div id="testimonios">
    <h2>/ TESTIMONIOS</h2>
    <div class="testimonioContainer">
        <p>
            &quot Trabajamos con Noe durante 6 meses para mejorar la presencia de nuestra empresa en redes sociales. Desde el principio, nos sorprendió su profesionalidad y su capacidad de entender nuestras necesidades.<br/>
            Noe fue capaz de crear un plan de comunicación adaptado a nuestro negocio y a nuestro público objetivo. Además, era muy receptiva a nuestras sugerencias y siempre estaba dispuesta a colaborar.<br/>
            Como resultado de su trabajo, vimos un aumento significativo en el engagement de nuestras redes sociales. Además, obtuvimos un mayor número de leads y clientes potenciales.<br/>
            Estamos muy satisfechos con el trabajo de Noe y la recomendamos encarecidamente a cualquier empresa que quiera mejorar su presencia en redes sociales. &quot
        </p>
    </div>
</div>

<style>
    #testimonios {
        & h2 {
            width: 100%;
            font-size: 2rem;          
            text-align: left;
            align-self: flex-start;
            margin: 5rem auto 2rem;  
        }
        & p {
            font-size: 1rem;
            /* text-transform: uppercase; */
            font-weight: 300;
        }
    }
</style>